<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
</head>

<body ng-app='myApp'>
    <h4> create your order </h4>
    <form name="saveTemplateData" action="#" ng-controller="FormCtrl" ng-submit="submitForm()">

        Name: <br/><input type="text" ng-model="form.name">
        <br/><br/> Quantity: <br/><input type="text" ng-model="form.quantity"> <br/><br/>

        <br/><br/>
        
        <input type="submit" ngClick="Submit">
    </form>

</body>
<script>
    var app = angular.module("myApp", []);
    app.controller('FormCtrl', function ($scope, $http) {
        $scope.submitForm = function () {
            $scope.form.quantity = parseInt($scope.form.quantity);
            $http({
                url: "https://dalvirooapp.herokuapp.com/orders",
                method: "POST",
                headers: { 'Content-Type': 'application/json' },
                data:  $scope.form
            }).success(function (data, status, headers, config) {
                console.log('success');
                 $scope.form = {};
            }).error(function (data, status, headers, config) {
                console.log('error');
            });
        };
    });

</script>

</html>